#grid-container {
    border: 2px solid black;
    margin: 0 auto;
    width: 700px;
    height: 700px;
}

#grid {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.gridColumn {
    flex: 1 0 auto;
    display: flex;
}

.gridRow {
    flex: 1 0 auto;
}

#size {
    display: block;
    margin: 20px auto;
    font-size: 25px;
}